.sep {
  position: absolute;
  top: 64px;
  left: 0;
  background-color: var(--color-whitesmoke-300);
  width: 1235px;
  height: 1px;
}
.searchIcon {
  width: 12%;
  right: 88%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bound,
.compilingIcon,
.searchIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.compilingIcon {
  width: 12%;
  right: 66%;
  left: 22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bound {
  width: 100%;
  right: 0;
  left: 0;
}
.rectangle62Copy,
.rectangle62Copy2,
.rectangle62Copy3,
.rectangle62Copy4 {
  position: absolute;
  width: 12.46%;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue-100);
}
.rectangle62Copy {
  height: 66.78%;
  top: 16.61%;
  right: 33.22%;
  bottom: 16.61%;
  left: 54.33%;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.rectangle62Copy2,
.rectangle62Copy3,
.rectangle62Copy4 {
  height: 45.67%;
  top: 37.37%;
  right: 54.33%;
  bottom: 16.96%;
  left: 33.22%;
}
.rectangle62Copy3,
.rectangle62Copy4 {
  height: 37.37%;
  top: 45.67%;
  right: 12.46%;
  left: 75.09%;
}
.rectangle62Copy3 {
  height: 29.07%;
  top: 53.98%;
  right: 75.09%;
  left: 12.46%;
}
.equalizer,
.layout4BlocksIcon,
.stockholmIconsShoppingC {
  position: absolute;
  height: 100%;
  width: 12%;
  top: 0;
  right: 44%;
  bottom: 0;
  left: 44%;
}
.layout4BlocksIcon,
.stockholmIconsShoppingC {
  right: 22%;
  left: 66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.layout4BlocksIcon {
  right: 0;
  left: 88%;
}
.icons {
  position: absolute;
  height: 50%;
  width: 55.85%;
  top: 10.38%;
  right: 44.15%;
  bottom: 39.62%;
  left: 0;
}
.nickThomas {
  position: absolute;
  height: 83.74%;
  width: 19.01%;
  top: 16.26%;
  left: 66.4%;
  font-weight: 500;
  display: inline-block;
}
.rectangle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightcyan-100);
}
.initialIcon,
.n,
.rectangle {
  position: absolute;
}
.n {
  height: 74.35%;
  width: 28.57%;
  top: 11.4%;
  left: 36.18%;
  display: inline-block;
}
.initialIcon {
  height: 72.84%;
  width: 10.06%;
  top: 0;
  right: 0;
  bottom: 27.16%;
  left: 89.94%;
  font-size: var(--font-size-mid);
  color: var(--color-mediumseagreen-100);
}
.header,
.right {
  position: absolute;
  height: 73.91%;
  width: 28.99%;
  top: 21.48%;
  right: 2.43%;
  bottom: 4.6%;
  left: 68.58%;
}
.header {
  height: 4.33%;
  width: 82.34%;
  top: 0;
  right: 0;
  bottom: 95.67%;
  left: 17.66%;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray-200);
  font-family: var(--font-poppins);
}
