.line,
.line1,
.line2,
.line3,
.line4,
.line5 {
  position: absolute;
  width: 100.14%;
  top: -0.5px;
  right: -0.07%;
  left: -0.07%;
  border-top: 1px dashed var(--color-whitesmoke-500);
  box-sizing: border-box;
  height: 1px;
}
.line1,
.line2,
.line3,
.line4,
.line5 {
  top: 59.5px;
}
.line2,
.line3,
.line4,
.line5 {
  top: 119.5px;
}
.line3,
.line4,
.line5 {
  top: 179.5px;
}
.line4,
.line5 {
  top: 239.5px;
}
.line5 {
  top: 299.5px;
}
.dottedLines {
  width: 93.62%;
  top: 11px;
  right: 0;
  left: 6.38%;
  height: 300px;
}
.aug,
.aug1,
.dottedLines {
  position: absolute;
}
.aug {
  width: 7.59%;
  top: 0;
  left: 0;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.aug1 {
  width: 8.53%;
  left: 18.01%;
}
.aug1,
.aug2,
.aug3,
.aug4 {
  top: 0;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.aug2 {
  position: absolute;
  width: 10.43%;
  left: 35.55%;
}
.aug3,
.aug4 {
  width: 9.95%;
}
.aug3 {
  position: absolute;
  left: 54.26%;
}
.aug4 {
  left: 72.75%;
}
.aug4,
.sep,
.xAxis {
  position: absolute;
}
.sep {
  width: 8.06%;
  top: 0;
  left: 91.94%;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.xAxis {
  width: 82.75%;
  top: 321px;
  right: 4.32%;
  left: 12.94%;
  height: 21px;
}
.div {
  width: 100%;
  top: 0;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.div,
.div1,
.div2 {
  position: absolute;
  left: 0;
}
.div1 {
  width: 95.05%;
  top: 60px;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.div2 {
  width: 80.2%;
  top: 120px;
}
.div2,
.div3,
.div4 {
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.div3 {
  position: absolute;
  width: 80.2%;
  top: 180px;
  left: 0;
}
.div4 {
  width: 75.25%;
  top: 240px;
}
.div4,
.div5,
.yAxis {
  position: absolute;
  left: 0;
}
.div5 {
  width: 39.93%;
  top: 300px;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.yAxis {
  width: 3.92%;
  top: 0;
  right: 96.08%;
  height: 321px;
  text-align: left;
}
.columnChild {
  position: absolute;
  width: 67.67%;
  top: 30px;
  right: 0;
  left: 32.33%;
  max-width: 100%;
  overflow: hidden;
  height: 117px;
  object-fit: cover;
}
.column,
.columnInner,
.columnItem {
  position: absolute;
  left: 0;
  height: 147px;
}
.columnItem {
  width: 41.11%;
  top: 0;
  right: 58.89%;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
}
.column,
.columnInner {
  width: 7.33%;
  top: 140px;
  right: 92.67%;
}
.columnInner {
  width: 67.67%;
  top: 30px;
  right: 0;
  left: 32.33%;
  max-width: 100%;
  overflow: hidden;
  height: 166px;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  width: 41.11%;
  top: 0;
  right: 58.89%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 196px;
}
.column1,
.rectangleIcon {
  position: absolute;
  width: 7.33%;
  top: 91px;
  right: 74.14%;
  left: 18.53%;
  height: 196px;
}
.rectangleIcon {
  width: 67.67%;
  top: 30px;
  right: 0;
  left: 32.33%;
  max-width: 100%;
  overflow: hidden;
  height: 217px;
  object-fit: cover;
}
.columnChild1 {
  position: absolute;
  width: 41.11%;
  top: 0;
  right: 58.89%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 247px;
}
.column2,
.columnChild2 {
  position: absolute;
  width: 7.33%;
  top: 40px;
  right: 55.6%;
  left: 37.07%;
  height: 247px;
}
.columnChild2 {
  width: 67.67%;
  top: 29.5px;
  right: 0;
  left: 32.33%;
  max-width: 100%;
  overflow: hidden;
  height: 177.5px;
  object-fit: cover;
}
.columnChild3 {
  position: absolute;
  width: 41.11%;
  top: 0;
  right: 58.89%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 207px;
}
.column3,
.columnChild4 {
  position: absolute;
  width: 7.33%;
  top: 80px;
  right: 37.07%;
  left: 55.6%;
  height: 207px;
}
.columnChild4 {
  width: 67.67%;
  top: 29.7px;
  right: 0;
  left: 32.33%;
  max-width: 100%;
  overflow: hidden;
  height: 208.3px;
  object-fit: cover;
}
.columnChild5 {
  position: absolute;
  width: 41.11%;
  top: 0;
  right: 58.89%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 238px;
}
.column4,
.columnChild6 {
  position: absolute;
  width: 7.33%;
  top: 49px;
  right: 18.53%;
  left: 74.14%;
  height: 238px;
}
.columnChild6 {
  width: 67.67%;
  top: 30px;
  right: 0;
  left: 32.33%;
  max-width: 100%;
  overflow: hidden;
  height: 257px;
  object-fit: cover;
}
.columnChild7 {
  position: absolute;
  width: 41.11%;
  top: 0;
  right: 58.89%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 287px;
}
.chart,
.column5,
.columns {
  position: absolute;
  width: 7.33%;
  top: 0;
  right: 0;
  left: 92.67%;
  height: 287px;
}
.chart,
.columns {
  width: 82.35%;
  top: 24px;
  right: 4.72%;
  left: 12.94%;
}
.chart {
  width: 87.93%;
  top: 103px;
  right: 6.9%;
  left: 5.17%;
  height: 342px;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  width: 53px;
  height: 34px;
}
.day,
.week {
  font-weight: 600;
}
.day {
  position: absolute;
  top: 8px;
  right: 15px;
  color: var(--color-white);
}
.week {
  right: 67px;
}
.month,
.tabs,
.week {
  position: absolute;
  top: 8px;
}
.month {
  right: 131px;
  font-weight: 600;
}
.tabs {
  right: 0;
  width: 170px;
  height: 34px;
}
.moreThan400,
.recentStats {
  left: 0;
  line-height: 21px;
  font-weight: 500;
}
.recentStats {
  position: absolute;
  top: 0;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  display: inline-block;
  width: 115px;
  height: 22px;
}
.moreThan400 {
  top: 29px;
  color: var(--color-slategray-100);
}
.moreThan400,
.top,
.widget2 {
  position: absolute;
}
.top {
  top: 27px;
  right: 30px;
  width: 821px;
  height: 50px;
  text-align: left;
}
.widget2 {
  top: 1300px;
  left: 355px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 880px;
  height: 472px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-silver-100);
  font-family: var(--font-poppins);
}
